.contentContainer {
  grid-area: main;
  width: 100%;
  margin: 0 auto;
  padding: 20px 100px;
  background-color: var(--mainPanelBg);
  overflow-y: scroll;
  --contentPadding: 20px;
  scroll-padding-top: var(--contentPadding);

  .content {
    max-width: 800px;
    width: 100%;
    margin: 0 auto;
    padding: var(--contentPadding) 0;

    &__header {
      font-size: 25px;
      padding-bottom: 30px;
    }

    &__detail {
      font-size: 16px;
      text-align: justify;
      font-weight: 400;
    }

    ol {
      padding-left: 25px;
      & > li {
        margin-bottom: 10px;
      }
    }

    img {
      display: block;
      width: 80%;
      margin: 20px auto;
      border: 5px solid white;
    }

    .sorting-algo-table {
      width: 100%;
      border-collapse: collapse;
      font-size: 14px;

      th {
        background-color: #474747;
        color: white;
      }

      td,
      th {
        text-align: center;
        padding: 10px;
        border: 1px solid #474747;
      }

      td:first-child,
      td:nth-child(2) {
        text-align: left;
      }
    }
  }

  @media screen and (max-width: 768px) {
    padding: 20px 40px;

    .content {
      width: 100%;
      &__header {
        font-size: 20px;
        padding-bottom: 20px;
      }

      &__detail {
        font-size: 14px;
      }

      ol {
        padding-left: 15px;
      }

      .sorting-algo-table {
        font-size: 12px;
        td,
        th {
          padding: 7px;
        }
      }
    }
  }
}
