.contentContainer {
  grid-area: main;
  padding: 20px 100px;
  background-color: var(--mainPanelBg);
  overflow-y: scroll;
  --contentPadding: 20px;
  scroll-padding-top: var(--contentPadding);

  .content {
    width: 70%;
    margin: 0 auto;
    padding: var(--contentPadding) 0;

    &__header {
      font-size: 25px;
      padding-bottom: 30px;
    }

    &__detail {
      font-size: 18px;
      text-align: justify;
    }

    ol {
      padding-left: 25px;
    }

    img {
      display: block;
      width: 60%;
      padding: 20px;
      margin: 0 auto;
    }

    .sorting-algo-table {
      width: 100%;
      border-collapse: collapse;

      th {
        background-color: #474747;
        color: white;
      }

      td,
      th {
        text-align: center;
        padding: 10px;
        border: 1px solid #474747;
      }

      td:first-child,
      td:nth-child(2) {
        text-align: left;
      }
    }
  }
}
