@import './sideMenu.scss';
@import './contentContainer.scss';

.algorithmsPage {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-areas:
    'side main main main main'
    'side main main main main'
    'side main main main main'
    'side main main main main'
    'side main main main main';
  height: 100%;
  width: 100%;
  overflow: hidden;
  scroll-behavior: smooth;

  @media screen and (max-width: 768px) {
    grid-template-columns: 1fr;
    grid-template-areas:
      'main'
      'main'
      'main'
      'main'
      'main';
  }
}
