@import './sideMenu.scss';
@import './contentContainer.scss';

.algorithmsPage {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-areas:
    'side main main main'
    'side main main main'
    'side main main main'
    'side main main main'
    'side main main main';
  height: 100%;
  width: 100%;
  overflow: hidden;
}
