.sideMenu {
  grid-area: side;
  background-color: var(--sidePanelBg);
  color: hsl(0, 2%, 91%);

  .panelHeader {
    font-size: 20px;
    padding: 40px 20px 0 40px;
  }

  .contentLink {
    font-size: 20px;
    padding: 20px 40px;
    border-bottom: 0.1px solid var(--mainPanelBg);

    &:hover {
      cursor: pointer;
      background-color: #ababab;
      color: black;
    }
  }

  .selectedTab {
    background-color: var(--mainPanelBg);
    color: black;
  }
}
