.sideMenu {
  grid-area: side;
  background-color: var(--sidePanelBg);
  color: hsl(0, 2%, 91%);
  font-size: 16px;

  .panelHeader {
    font-weight: bolder;
    padding: 40px 20px 0 40px;
  }

  .contentLink {
    padding: 20px 40px;
    border-bottom: 1px solid var(--mainPanelBg);

    &:hover {
      cursor: pointer;
      background-color: #ababab;
      color: black;
    }
  }

  .selectedTab {
    background-color: var(--mainPanelBg);
    color: black;
  }

  @media screen and (max-width: 768px) {
    display: none;
  }
}
