.dropdown {
  width: 10rem;
  padding: 0.2rem 1rem;
  margin: 0 0.5rem;
  background: hsl(0, 0%, 95%);
  font-size: 1rem;
  letter-spacing: 0.01rem;

  &:hover {
    cursor: pointer;
  }

  &:focus {
    outline: none;
  }

  & option {
    font-size: 1.7rem;
  }
}
