.dropdown {
	width: 20rem;
	padding: 0.8rem 1.5rem;
	margin: 0 0.5rem;
	background: hsl(0, 0%, 77%);
	font-size: 1.5rem;
	letter-spacing: 0.01rem;

	&:hover {
		cursor: pointer;
	}

	&:focus {
		outline: none;
	}

	& option {
		font-size: 1.7rem;
	}
}
