.bottomPanel {
  grid-area: bottom;
  background-color: var(--bottomPanelBg);
  text-align: justify;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;

  & .detailTable {
    width: 100%;
    border-collapse: collapse;

    & .rowData {
      font-size: 14px;

      & td {
        padding: 15px 20px;
        box-sizing: border-box;
      }

      &:nth-child(odd) {
        background-color: hsl(0, 0%, 73%);
      }

      &__key {
        max-width: 150px;
        font-weight: bold;
      }

      &__value {
        text-align: left;
      }

      @media screen and (max-width: 768px) {
        font-size: 12px;
        & td {
          padding: 10px;
          font-size: 12px;
          &:nth-child(2) {
            font-size: 10px;
          }
        }
        &__key {
          max-width: 70px;
        }
      }
    }
  }
}
