.mainPanel {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  grid-template-areas:
    'optionContainer optionContainer optionContainer optionContainer optionContainer optionContainer optionContainer'
    '. barContainer barContainer barContainer barContainer barContainer .'
    '. barContainer barContainer barContainer barContainer barContainer .'
    '. barContainer barContainer barContainer barContainer barContainer .'
    '. barContainer barContainer barContainer barContainer barContainer .'
    '. barContainer barContainer barContainer barContainer barContainer .'
    'controls controls controls controls controls controls controls'
    'legend legend legend legend legend legend legend'
    '. . . . . . .';
  padding: 20px;
  text-align: justify;
  height: 100%;

  & .optionContainer {
    grid-area: optionContainer;
    align-self: center;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
  }

  & .barContainer {
    grid-area: barContainer;
    align-self: end;
    height: 300px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-end;

    .bar {
      width: 10px;
      margin: 1px;
      opacity: 1;
      color: white;
      border: 1px solid rgb(255, 255, 255);
      border-radius: 2px;
      box-shadow: 4px 4px 10px 2px rgba(128, 128, 128, 0.64);
    }
  }

  & .controls {
    grid-area: controls;
    align-self: end;
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 10px;

    & button {
      font-size: 12px;
      min-width: 80px;
      margin: 10px;
      padding: 10px;
      border: none;
      background: rgb(239, 239, 239);
      box-shadow: 4px 4px 10px 2px rgba(128, 128, 128, 0.64);
      border-radius: 2px;
      @media screen and (max-width: 768px) {
        font-size: 11px;
        min-width: 50px;
        margin: 5px;
        padding: 5px;
      }

      &:hover {
        opacity: 0.9;
      }

      &:active {
        opacity: 0.7;
      }
    }
  }

  & .legendContainer {
    grid-area: legend;
    align-self: center;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    &__header {
      font-size: 16px;
      margin-right: 10px;
    }

    & .legend {
      display: flex;
      flex-direction: row;
      align-items: center;
      font-size: 12px;
      margin: 5px;

      &__color {
        height: 18px;
        width: 18px;
        border: 1px solid white;
        border-radius: 3px;
        margin-right: 10px;
        box-shadow: 0px 0px 10px 2px rgba(128, 128, 128, 0.64);
      }
    }

    @media screen and (max-width: 768px) {
      &__header {
        font-size: 14px;
      }

      & .legend {
        font-size: 10px;
        margin: 3px;

        &__color {
          height: 16px;
          width: 16px;
        }
      }
    }
  }
}
