.mainPanel {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  grid-template-areas:
    'optionContainer optionContainer optionContainer optionContainer optionContainer optionContainer optionContainer'
    '. barContainer barContainer barContainer barContainer barContainer legend'
    '. barContainer barContainer barContainer barContainer barContainer legend'
    '. barContainer barContainer barContainer barContainer barContainer legend'
    '. barContainer barContainer barContainer barContainer barContainer legend'
    '. barContainer barContainer barContainer barContainer barContainer legend'
    '. barContainer barContainer barContainer barContainer barContainer legend'
    '. controls controls controls controls controls . ';
  padding: 40px;
  text-align: justify;
  height: 100%;

  & .optionContainer {
    grid-area: optionContainer;
    align-self: start;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
  }

  & .barContainer {
    grid-area: barContainer;
    align-self: end;
    height: 300px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-end;

    .bar {
      width: 10px;
      margin: 1px;
      opacity: 1;
      color: white;
      box-shadow: 4px 4px 10px 2px background-color;
    }
  }

  & .controls {
    grid-area: controls;
    align-self: end;
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 10px;

    & button {
      max-height: 50px;
      margin: 5px;
      padding: 5px;
      min-width: 80px;
    }
  }

  & .legendContainer {
    grid-area: legend;
    align-self: center;

    &__header {
      margin-bottom: 10px;
    }

    & .legend {
      display: flex;
      flex-direction: row;
      align-items: center;
      font-size: 14px;
      margin: 5px 0;

      &__color {
        height: 18px;
        width: 18px;
        border: 1px solid white;
        border-radius: 3px;
        margin-right: 10px;
      }
    }
  }
}
