.sidePanel {
  flex: 2;
  height: 100%;
  overflow-y: auto;
  padding: 40px 20px;
  margin-bottom: 40px;
  text-align: justify;
  color: hsl(0, 0%, 90%);
  background-color: var(--sidePanelBg);

  display: flex;
  flex-direction: column;
  justify-content: flex-start;

  .algorithmDetail {
    font-size: 14px;

    select {
      margin: 0;
      width: 100%;
    }

    table {
      width: 100%;
      margin: 15px 0;

      thead {
        th {
          font-size: 22px;
          font-weight: 500;
          padding: 10px 0;
        }
      }

      tbody {
        color: hsl(0, 0%, 80%);
        tr {
          font-size: 18px;
          line-height: 20px;
          td {
            padding: 5px 0;
            border: none;
          }
        }

        tr :first-child {
          font-weight: 300;
          text-align: left;
        }

        tr :last-child {
          font-size: 20px;
          text-align: right;

          var {
            line-height: 0;
            font-weight: 800;
          }
        }
      }
    }
  }

  .codeContainer {
    position: relative;
    width: 100%;
    height: 50%;

    &__title {
      font-size: 22px;
      font-weight: 500;
      margin-bottom: 10px;
    }

    code {
      border-radius: 5px;
      letter-spacing: 12px;
      font-size: 15px;
      font-weight: 300;
      line-height: 20px;
      padding: 20px;
    }
  }
}
