.bottomPanel {
  grid-area: bottom;
  background-color: var(--bottomPanelBg);
  text-align: justify;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;

  & .detailTable {
    width: 100%;
    border-collapse: collapse;

    & .rowData {
      font-size: 1rem;

      & td {
        padding: 0.5rem 0.5rem;
      }

      &:nth-child(odd) {
        background-color: hsl(0, 0%, 73%);
      }

      &__key {
        width: 2.0rem;
        font-weight: bold;
      }
    }
  }
}
