@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;1,100&display=swap');

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-family: Roboto, sans-serif;
}

:root {
	font-size: 62.5%; // 1rem = 10px, (10px / 16px) => 62.5%
	--navBarBg: hsl(0, 0%, 19%);
	--mainPanelBg: hsl(0, 0%, 80%);
	--sidePanelBg: hsl(228, 2%, 46%);
	// --bottomPanelBg: hsl(228, 2%, 46%);
	--bottomPanelBg: hsl(0, 0%, 80%);

	--SORTED: hsl(206, 80%, 65%); // B
	--GREATER: hsl(152, 49%, 64%); // G
	--PIVOT: hsl(51, 94%, 67%); // Y
	--ACTIVE: hsl(29, 80%, 65%); // O
	--LESSER: hsl(4, 80%, 65%); // R
	--UNSORTED: hsl(0, 0%, 28%);
}

#root {
	width: 100vw;
	height: 100vh;
	background: linear-gradient(109.62deg, #1ce0ed 6.05%, #a8f5af 106.05%);
}

.app {
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	background: linear-gradient(
		109.62deg,
		rgba(255, 255, 255, 0.42) 0.02%,
		rgba(255, 255, 255, 0.05) 99.99%
	);
}

a {
	text-decoration: none;
	color: inherit;
}

.navbar {
	width: 100%;
	padding: 2rem 15rem;
	align-self: flex-start;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
	background-color: #1ce0ed;
	background-color: var(--navBarBg);

	& * {
		color: white;
		font-weight: bold;
		font-size: 1.3rem;
		line-height: 1.5rem;
		letter-spacing: 0.1em;
	}

	&__header {
		width: 20rem;
		text-align: center;
	}

	&__content {
		display: flex;
		flex-direction: row;
		align-items: center;
		justify-content: flex-end;
		& * {
			margin-left: 5rem;
		}
	}
}

.dropdown {
	width: 20rem;
	padding: 0.8rem 1.5rem;
	margin: 0 0.5rem;
	background: hsl(0, 0%, 77%);
	font-size: 1.5rem;
	letter-spacing: 0.01rem;

	&:hover {
		cursor: pointer;
	}

	&:focus {
		outline: none;
	}

	& option {
		font-size: 1.7rem;
	}
}

.panelHeader {
	font-style: normal;
	font-weight: bold;
	font-size: 1.6rem;
	line-height: 1.6rem;
	margin-bottom: 2rem;
}

.dashboard {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	grid-template-areas:
		'side main main main '
		'side main main main '
		'side main main main '
		'side main main main '
		'side main main main '
		'side main main main '
		'side bottom bottom bottom';
	height: 100%;
	width: 100%;
	backdrop-filter: blur(2rem);

	.mainPanel {
		grid-area: main;
		display: grid;
		grid-template-columns: repeat(7, 1fr);
		grid-template-areas:
			'. optionContainer optionContainer optionContainer optionContainer optionContainer legend'
			'. barContainer barContainer barContainer barContainer barContainer legend'
			'. barContainer barContainer barContainer barContainer barContainer legend'
			'. barContainer barContainer barContainer barContainer barContainer legend'
			'. barContainer barContainer barContainer barContainer barContainer legend'
			'. controls controls controls controls controls . ';
		background-color: var(--mainPanelBg);
		padding: 4rem;
		text-align: justify;

		& .optionContainer {
			grid-area: optionContainer;
			align-self: start;
			display: flex;
			flex-direction: row;
			justify-content: space-evenly;
		}

		& .barContainer {
			grid-area: barContainer;
			align-self: end;
			height: 30rem;
			display: flex;
			flex-direction: row;
			justify-content: center;
			align-items: flex-end;

			.bar {
				width: 1rem;
				margin: 0.4rem;
				padding: 0.5rem;
				opacity: 1;
				color: white;
				box-shadow: 0.4rem 0.4rem 1rem 0.2rem background-color;
			}
		}

		& .controls {
			grid-area: controls;
			align-self: end;
			display: flex;
			flex-direction: row;
			justify-content: center;
			padding: 1rem;

			& button {
				max-height: 5rem;
				margin: 0.5rem;
				padding: 0.5rem;
				min-width: 8rem;
			}
		}

		& .legendContainer {
			grid-area: legend;
			align-self: center;

			&__header {
				margin-bottom: 1rem;
			}

			& .legend {
				display: flex;
				flex-direction: row;
				align-items: center;
				font-size: 1.4rem;
				margin: 0.5rem 0rem;

				&__color {
					height: 1.8rem;
					width: 1.8rem;
					border: 1px solid white;
					border-radius: 0rem;
					margin-right: 1rem;
				}
			}
		}
	}

	.sidePanel {
		grid-area: side;
		background-color: var(--sidePanelBg);
		padding: 4rem 0rem 0rem 4rem;
		text-align: justify;
		width: 100%;
		height: 100%;
		position: absolute;
		z-index: -9999;

		.codeContainer {
			position: relative;
			width: 100%;
			height: 90%;
			text-align: justify;
			overflow: hidden;
			padding-right: 4rem;

			&:hover {
				overflow-y: scroll;
				padding-right: 3rem;
			}

			/* width */
			&::-webkit-scrollbar {
				width: 1rem;
			}

			/* Track */
			&::-webkit-scrollbar-track {
				box-shadow: inset 0 0 0.5rem rgb(255, 255, 255);
				border-radius: 1rem;
			}

			/* Handle */
			&::-webkit-scrollbar-thumb {
				background-color: hsl(0, 0%, 25%);
				border-radius: 1rem;
			}

			/* Handle on hover */
			&::-webkit-scrollbar-thumb:hover {
				background-color: hsl(0, 0%, 10%);
			}

			code {
				font-size: 1.4rem;
			}
		}
	}

	.bottomPanel {
		grid-area: bottom;
		background-color: var(--bottomPanelBg);
		text-align: justify;
		display: flex;
		flex-direction: column;
		justify-content: flex-end;

		& .detailTable {
			width: 100%;
			border-collapse: collapse;

			& .rowData {
				font-size: 1.4rem;

				& td {
					padding: 1.5rem;
				}

				&:nth-child(odd) {
					background-color: hsl(0, 0%, 73%);
				}

				&__key {
					font-weight: bold;
				}
			}
		}
	}
}
