* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-family: sans-serif;
}

:root {
	font-size: 62.5%; // 1rem = 10px, 10px / 16px => 62.5%
}

#root {
	width: 100vw;
	height: 100vh;
	background: linear-gradient(109.62deg, #1ce0ed 6.05%, #a8f5af 106.05%);
}

.app {
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	background: linear-gradient(
		109.62deg,
		rgba(255, 255, 255, 0.42) 0.02%,
		rgba(255, 255, 255, 0.05) 99.99%
	);
}

a {
	text-decoration: none;
	color: inherit;
}

.navbar {
	width: 100%;
	padding: 3.5rem;
	position: absolute;
	top: 0;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;

	background-color: #1ce0ed;
	background: linear-gradient(
		180deg,
		rgba(255, 255, 255, 0.1802) 0%,
		rgba(255, 255, 255, 0.34) 100%
	);
	border-bottom: 0.1rem solid #ffffff;

	&__header {
		width: 30rem;
		font-weight: bold;
		font-size: 1.6rem;
		line-height: 2rem;
		letter-spacing: 0.3em;
		text-align: center;
	}

	&__content {
		display: flex;
		flex-direction: row;
		align-items: center;
		justify-content: flex-end;

		& > * {
			margin: 0px 2rem;
			font-weight: 500;
			font-size: 2rem;
			line-height: 2rem;
			letter-spacing: 0.3em;
		}
	}
}

.panelHeader {
	font-style: normal;
	font-weight: bold;
	font-size: 1.6rem;
	line-height: 1.6rem;
	margin-bottom: 2rem;
}

.dashboard {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	grid-template-areas:
		'side main main main'
		'side main main main'
		'side main main main'
		'side main main main'
		'side main main main'
		'bottom bottom bottom bottom';
	min-width: 150rem;
	max-width: 80%;
	min-height: 80rem;
	max-height: 80%;
	backdrop-filter: blur(2rem);

	.mainPanel {
		grid-area: main;
		display: flex;
		flex-direction: column;
		justify-content: center;
		background: linear-gradient(
			108.41deg,
			rgba(255, 255, 255, 0.44) 0%,
			rgba(238, 238, 238, 0.04) 100%
		);
		border: 0.15rem solid rgba(255, 255, 255, 0.67);
		border-radius: 0rem 1.5rem 0rem 0rem;
		padding: 4rem;
		text-align: justify;

		& > .barContainer {
			height: 30rem;
			position: relative;
			display: flex;
			flex-direction: row;
			justify-content: center;
			align-items: flex-end;

			.bar {
				width: 2.5rem;
				margin: 0.5rem;
				padding: 0.5rem;
				border-radius: 0.3rem;
				border-radius: 0.2rem;
				opacity: 0.75;
				color: white;
				box-shadow: 0.4rem 0.4rem 1rem 0.2rem background-color;
			}
		}

		& > .controls {
			display: flex;
			flex-direction: row;
			justify-content: center;
			padding: 1rem;

			& > button {
				margin: 0.5rem;
				padding: 0.5rem;
				min-width: 8rem;
			}
		}
	}

	.sidePanel {
		grid-area: side;
		background: rgba(255, 255, 255, 0.356);
		border: 0.15rem solid rgba(255, 255, 255, 0.71);
		border-radius: 1.5rem 0rem 0rem 0rem;
		padding: 4rem 0rem 0rem 4rem;
		text-align: justify;
		width: 100%;
		height: 100%;
		position: absolute;
		z-index: -9999;

		.codeContainer {
			position: relative;
			width: 100%;
			height: 90%;
			text-align: justify;
			overflow: hidden;
			padding-right: 4rem;

			&:hover {
				overflow-y: scroll;
				padding-right: 3rem;
			}

			/* width */
			&::-webkit-scrollbar {
				width: 1rem;
			}

			/* Track */
			&::-webkit-scrollbar-track {
				box-shadow: inset 0 0 0.5rem rgb(255, 255, 255);
				border-radius: 1rem;
			}

			/* Handle */
			&::-webkit-scrollbar-thumb {
				background: rgba(255, 255, 255, 0.829);
				border-radius: 1rem;
			}

			/* Handle on hover */
			&::-webkit-scrollbar-thumb:hover {
				background: #b30000;
			}

			code {
				font-size: 1.4rem;
			}
		}
	}

	.bottomPanel {
		grid-area: bottom;
		background: linear-gradient(
			92.52deg,
			rgba(255, 255, 255, 0.37) 0%,
			rgba(255, 255, 255, 0) 100%
		);
		border: 0.15rem solid rgba(255, 255, 255, 0.67);
		border-radius: 0rem 0rem 1.5rem 1.5rem;
		padding: 4rem;
		text-align: justify;
	}
}
